* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size:0;
    -webkit-font-smoothing: antialiased;
    font-family: 'Open Sans', 'Verdana', sans-serif;
    color:#424242;
}

html {
    height:100%;
    font-size:16px;
}
body {
    height:100%;
    background-color:#edf0f2;
    overflow-y: scroll;
}
li, p, span, a {
    font-size:16px;
    font-size:1rem;
    transition: color 0.3s;
}
h1 {
    font-size:32px;
    font-size:2rem;
    border-left:2px solid #a5c71b;
}
h2 {
    font-size:22px;
    font-size:1.3rem;
}
h1, h2 {
    padding-left:10px;
    margin-top:2em;
    margin-bottom:1em;
    font-family: "Amaranth", "Open Sans", sans-serif;
    font-weight:400;
}
p {
    margin:1rem 0;
}
a:hover {
    color:black;
}
.formMsg {
    display:none;
    text-align: center;
}
form input {
    font-size:0.9rem;
    border: 1px solid #dbe3e8;
    border-radius:2px;
    outline:none;
    padding:10px;
    width:100%;
}
    form label {
        opacity:0.9;
        margin-bottom:5px;
        position: relative;
    }
    form input:focus {
        border-color:#515151;
    }
    form label, form .button, form a {
        display:block;
        width:100%;
    }  
    form .button {
        margin:20px 0;
    }
.button {
    padding:10px;
    background-color: #515151;
    text-align: center;
    color:#eee;
    border-radius:2px;
    font-size:1rem;
}
.button:hover {
    background-color: #767676;
}

.facebookicon {
    background:url(/img/social/facebook.png) no-repeat left center;
}
.gmailicon {
    background:url(/img/social/gmail.png) no-repeat left center;
}
.twittericon {
    background:url(/img/social/twitter.png) no-repeat left center;
}
.youtubeicon {
    background:url(/img/social/youtube.png) no-repeat left center;
}

.pagewrapper {
    min-height:100%;
    position: relative;
    background-image: url('/img/contentpattern.png');
}

.clickable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
    .clickable:hover {
        cursor:pointer;
    }

.downarrow {
    display:inline-block;
    vertical-align: middle;
    border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #eee;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.lightbox {
    position:fixed;
    width:100%;
    height:100%;
    left:0;
    top:0;
    background-color:rgba(1,1,1,0.5);
    overflow: hidden;
}

.navibar {
    background-color:rgba(50,50,50,0.25);
    text-align: right;
    
    display:block;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:60px;
}
    .navibar li {
        padding:0 20px;
        font-weight: 600;
        line-height:60px;
        text-decoration: none;
        text-shadow: 1px 1px 4px rgba(1,1,1,0.4);
        height:100%;
        display:inline-block;
        color:#eee;
        transition: color 0.3s;
    }
        .navibar li:hover {
            color: #d6f658;
        }
        .navibar li:hover .downarrow {
            border-top-color: #d6f658;
        }

    .navibar > ul {
        display:inline-block;
        height:100%;
    }
        .navibar ul ul:hover {
            cursor:default;
        }
        .navibar ul li.activepage .downarrow {
            border-top-color: #c1e23b;
        }
        .navibar ul ul:hover > li.activepage, .navibar > ul li.activepage {
            color:#c1e23b;
        }
        .navibar ul li > ul {
            background-color:rgba(50,50,50,0.25);
            text-align: right;
            visibility: hidden;
            transition: all 0.3s;
            overflow:hidden;
            
            position:absolute;
            top:60px;
            left:0;
            width:100%;
            height:0;
        }
        .navibar ul li > ul > li {
            line-height:60px;
        }
        .navibar ul li:hover > ul {
            visibility: visible;
            height:60px;
        }
        
.loginoverlay {
    display:none;
    overflow: hidden;
}
    .loginoverlay .loginbox {
        padding: 40px 40px 30px 40px;
        overflow:hidden;
        transform: translateY(-50%) translateX(-50%);
        background-color:#eee;
        
        position:fixed;
        top:50%;
        left:50%;
    }
        .loginbox form input {
            display:block;
            margin-top:5px;
        }
        .loginbox .close {
            padding:10px;
            font-size:18px;
            color:#545454;
            
            display:inline-block;
            position:absolute;
            right:5px;
            top:0;
        }
            .loginbox .close:hover {
                color:black;
            }
        

header {
    background: #e3e2dd url('/img/header.jpg') no-repeat fixed;
    -webkit-background-size:cover;
    background-size:cover;
    overflow:hidden;
    box-shadow: 1px 1px 3px rgba(1,1,1,0.3);
    
    width:100%;
    height:300px;
    height:35vh;
    position: relative;
}
    header * {
        color: #eee;
    }
    header img {
        object-fit: contain;
        position: relative;
        height:50%;
        max-height:144px;
        width: auto;
        left:25%;
        top:50%;
        -webkit-transform: translateY(-50%) translateX(-50%);
        transform: translateY(-50%) translateX(-50%);
    }

.content {
    max-width:800px;
    margin: 0 auto;
    padding-bottom:90px; /* Footer height + extra padding */
    position: relative;
}
    .content .contactlist li{
        padding:22px 0 22px 0;
        list-style: none;
        background-size: 64px;
    }
    .content .contactlist li a {
        padding: 10px 10px 10px 70px;
    }
    .content .register {
        width:50%;
        margin: 0 auto;
    }
        .content .register .fa {
            font-size: 1.5rem;
            position: absolute;
            top:50%;
            transform: translateY(-50%);
            left:-2.5rem;
        }

footer {
    line-height:40px;
    text-align: center;
    background-color:rgba(50,50,50,0.15);
    font-size: 14px;
    font-size: 0.8rem;
    
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:40px;
}